<script type="text/javascript"></script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
</head>

<body>
  <div class="blog-single gray-bg">
    <div class="container">
      <div class="align-items-start">
        <div class="col-lg-12 m-15px-tb">
          <article class="article">
            <div class="article-img">
              <img src="{{blog.image_cover}}" alt="image cover" />
            </div>
            <div class="article-title">
              <h6><a href="#">{{blog.category.name}}</a></h6>
              <h2>{{blog.title}}</h2>
              <div class="media" style="display: flex;">
                <div class="avatar">
                  <img
                    src="https://res.cloudinary.com/dgvam9b0p/image/upload/v1691336818/blog_cloud/351456500_260405996644981_9086659673348838450_n_mwnf6j.jpg" />
                </div>
                <div class="media-body">
                  <label>Thai Anh Duc</label>
                  <span>{{blog.createAt}}</span>
                </div>
              </div>
            </div>
            <div id="article-content">
              <p id="content" style="display:none;">{{blog.content}}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function textToHtml(text) {
    var contentElement = document.createElement('div');
    contentElement.innerHTML = text;
    return contentElement;
  }
  // Format Content Detail Blog
  const markdownContent = document.getElementById('content').textContent
  const contentHtml = textToHtml(markdownContent)
  document.getElementById('article-content').appendChild(contentHtml);
</script>

</html>