<section>
  <div class="container">
    <div class="row gy-5">
      <!-- Latest Posts -->
      <main class="col-lg-8">
        <div class="container">
          <div class="row gy-4 mb-5">
            <!-- post -->
            {{#each blogs}}
            <div class="col-xl-6"><a class="mb-3" href="blog/{{this.slug}}">
               <div style="height:255px; overflow:hidden"><img class="img-fluid" src="{{this.image_cover}}" alt="image cover" width="100%"></div></a>
              </a>
              <div
                class="d-flex align-items-center justify-content-between mb-2"
              ><small class="text-gray-500">{{this.createdAt}}</small><a
                  class="small fw-bold text-uppercase small"
                  href="!#"
                >{{this.category}}</a></div>
              <h3 class="h5"><a class="text-dark" href="blog/{{this.slug}}">{{this.title}}</a></h3>
              {{!-- <div id="blog-trailer-content">
                <p class="text-muted text-sm text-content-trailer" style="display: none;" id="trailer_content">{{this.content}}</p>
              </div> --}}
              <ul class="list-inline list-separated text-gray-500 mb-0">
                <li class="list-inline-item"><a
                    class="d-flex align-items-center flex-wrap text-reset"
                    href="!#"
                  >
                    <div class="avatar flex-shrink-0"><img
                        class="img-fluid"
                        src="https://res.cloudinary.com/dgvam9b0p/image/upload/v1691336818/blog_cloud/351456500_260405996644981_9086659673348838450_n_mwnf6j.jpg"
                        alt="..."
                      /></div><small>Thái Anh Đức</small>
                      </a></li>
                <li class="list-inline-item small"><i class="far fa-clock"></i>
                  {{this.date}}</li>
                <li class="list-inline-item small">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
                  {{this.viewed}}
                </li>
              </ul>
            </div>
            {{/each}}
            <!-- post             -->
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="!#"><i
                    class="fas fa-angle-left"
                  ></i></a></li>
              <li class="page-item active"><a
                  class="page-link"
                  href="!#"
                >1</a></li>
              <li class="page-item"><a class="page-link" href="!#">2</a></li>
              <li class="page-item"><a class="page-link" href="!#">3</a></li>
              <li class="page-item"><a class="page-link" href="!#"><i
                    class="fas fa-angle-right"
                  ></i></a></li>
            </ul>
          </nav>
        </div>
      </main>
      <aside class="col-lg-4">
        <!-- Widget [Search Bar Widget]-->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6">Search the blog</h3>
            <form action="/search" method="POST">
              <div class="input-group border-bottom">
                <input
                  name="search_keyword"
                  class="form-control border-0 shadow-0 ps-0"
                  type="search"
                  placeholder="What are you looking for?"
                />
                <button
                  class="btn btn-link btn-sm shadow-0 px-0"
                  type="submit"
                ><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- Widget [Latest Posts Widget]        -->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6 mb-3">Latest Posts</h3><a
              class="text-reset mb-3"
              href="!#"
            >
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-1.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a><a class="text-reset mb-3" href="!#">
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-2.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a><a class="text-reset" href="!#">
              <div class="d-flex align-items-center"><img
                  class="img-fluid flex-shrink-0"
                  src="img/small-thumbnail-3.jpg"
                  alt="..."
                  width="55"
                />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">Alberto Savoia Can
                    Teach You About</p>
                  <ul
                    class="list-inline list-separated text-gray-500 d-flex align-items-center"
                  >
                    <li class="list-inline-item small"><i
                        class="far fa-eye"
                      ></i>
                      500</li>
                    <li class="list-inline-item small"><i
                        class="far fa-comment"
                      ></i>
                      12</li>
                  </ul>
                </div>
              </div></a>
          </div>
        </div>
        <!-- Widget [Categories Widget]-->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6 mb-3">Categories</h3>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Growth</a><span>12</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"
            ><a class="text-reset" href="!#">Local</a><span>25</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Sales</a><span>8</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 1"
            ><a class="text-reset" href="!#">Tips</a><span>17</span></div>
            <div
              class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light"
            ><a class="text-reset" href="!#">Local</a><span>25</span></div>
          </div>
        </div>
        <!-- Widget [Tags Cloud Widget]-->
        <div class="card">
          <div class="card-body">
            <h3 class="h6 mb-3">Tags</h3>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="tag" href="!#">#Business
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Fashion
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Sports
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Technology
                </a></li>
              <li class="list-inline-item"><a class="tag" href="!#">#Economy
                </a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>