<section>
  <div class="container">
    <div class="row gy-5">
      <!-- Latest Posts -->
      <main class="col-lg-9">
        <div>
          <div class="row gy-4 mb-5" style="justify-content: space-around;">
            <!-- post -->
            {{#each blogs}}
            <div style=" padding:10px" class="col-lg-5 col-sm-8 col-md-6  card"><a class="mb-3"
                href="blog/{{this.slug}}">
                <div class="cover_block_image"><img class="img-fluid img-cover" src="{{this.image_cover}}"
                    alt="image cover"></div>
              </a>
              </a>
              <div class="d-flex align-items-center justify-content-between mb-2">
                <small class="text-gray-500" id="createdAt"></small>
                <a class="small fw-bold text-uppercase small" href="!#">{{this.category.name}}</a>
              </div>
              <h3 class="h6 text-l2" style="height: 40px;"><a class="text-dark"
                  href="blog/{{this.slug}}">{{this.title}}</a></h3>
              {{!-- <div id="blog-trailer-content">
                <p class="text-muted text-sm text-content-trailer" style="display: none;" id="trailer_content">
                  {{this.content}}</p>
              </div> --}}
              <ul class="list-inline list-separated text-gray-500 mb-0 ">
                <li class="list-inline-item">
                  <a class="d-flex align-items-center flex-wrap text-reset" href="!#">
                    <div class="avatar">
                      <img class="img-fluid" src="{{this.author.avatar}}" alt="avatar" />
                    </div><small>{{this.author.name}}</small>
                  </a>
                </li>
                <a style="float: right;" href="/blog/{{this.slug}}" class="btn btn-info">Xem</a>
              </ul>
            </div>
            {{/each}}
            <!-- End post -->
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="!#"><i class="fas fa-angle-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="!#">1</a></li>
              <li class="page-item"><a class="page-link" href="!#">2</a></li>
              <li class="page-item"><a class="page-link" href="!#">3</a></li>
              <li class="page-item"><a class="page-link" href="!#"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </main>
      <aside class="col-lg-3">
        <!-- Widget [Search Bar Widget]-->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6">Search the blog</h3>
            <form action="/search">
              <div class="input-group border-bottom">
                <input name="q" class="form-control border-0 shadow-0 ps-0" type="search"
                  placeholder="What are you looking for?" />
                <button class="btn btn-link btn-sm shadow-0 px-0" type="submit"><i class="fas fa-search "></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- Widget [Latest Posts Widget]        -->
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="h6 mb-3">Latest Posts</h3>
            {{#each lastBlogs}}
            <a class="text-reset mb-3" href="blog/{{this.slug}}">
              <div class="d-flex align-items-center">
                <img class=" img-fluid flex-shrink-0 image_cover-last-blog" width="80" height="100"
                  src="{{this.image_cover}}" alt="..." />
                <div class="ms-3">
                  <p class="mb-2 fw-bold text-gray-700 lh-1">{{this.title}}</p>
                  <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">
                    <li class="list-inline-item small"><i class="far fa-eye"></i>
                      500</li>
                    <li class="list-inline-item small"><i class="far fa-comment"></i>
                      12</li>
                  </ul>
                </div>
              </div>
            </a>
            {{/each}}
          </div>
        </div>
<<<<<<< HEAD
        <div class="card-body">
          <h3 class="h6 mb-3">Tags</h3>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="tag" href="!#">#Business
              </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Fashion
              </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Sports
              </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Technology
              </a></li>
            <li class="list-inline-item"><a class="tag" href="!#">#Economy
              </a></li>
          </ul>
        </div>
=======
      </aside>
>>>>>>> 388116d7ab62be6ec3277889b74e15c52a350bc9
    </div>
    </aside>
  </div>
  </div>
</section>