<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image"
  style="background-image: url(https://res.cloudinary.com/dgvam9b0p/image/upload/v1695824624/blog_cloud/22674_sj9zeg.jpg);">

  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="hero-title mb-4 fw-bold">Hi, I'm {{user.name}}!</h1>
        <p class="hero-subtitle"><span class="typed" data-typed-items="Kết Nối Cộng Đồng, Hãy làm theo cách của bạn, Nơi Mọi Ý Tưởng Trở Thành Hiện Thực"></span></p>
      </div>
    </div>
  </div>
</div><!-- End Hero Section -->

<main id="main">

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
              Hãy lan toả những điều tích cực đến với mọi người.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          {{!-- Blog card --}}
          <div class="row">
            {{#each blogs}}
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img style="height: 272px;" class="card-img image_cover" src="{{this.image_cover}}" alt="Bologna">
                <div class="card-img">
                  <a href="#" class="btn btn-light btn-sm"
                    style="position: absolute; top: 16px; left: 16px; border-radius:3px; font-weight:600">{{this.category}}</a>
                </div>
                <div class="card-body">
                  <h4 style="height:30px;" class="card-title h6 text-l1">{{this.title}}</h4>
                  <small class="text-muted cat">
                    <i class="far fa-clock text-info"></i> 30 minutes
                    <i class="fas fa-users text-info"></i> {{this.author.name}}
                  </small>
                  <a style=" float: right;" href="/blog/{{this.slug}}" class="btn btn-info">Xem</a>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                  <div class="views">Oct 20, 12:45PM
                  </div>
                  <div class="stats">
                    <i class="far fa-eye"></i> 1347
                    <i class="far fa-comment"></i> 12
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          {{!-- End blogs card --}}
        </div>
      </div>
    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url()">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                              required></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                      expedita aperiam aliquid at.
                      Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                      mollitia inventore?
                    </p>
                    <ul class="list-ico">
                      <li><span class="bi bi-geo-alt"></span> 329 WASHINGTON ST BOSTON, MA 02108</li>
                      <li><span class="bi bi-phone"></span> (617) 557-0089</li>
                      <li><span class="bi bi-envelope"></span> contact@example.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->